/* Formatting for new habit form */
.form-container {
    visibility: hidden;
    margin: 40px auto;
    height: 0px;
    opacity: 0%;
    clear: both;
}

/* Positioning for h3 tags */
h4 {
    margin: 10px auto;
}

textarea {
    resize: none;
}

/* Formatting for add button */
#add-button {
    margin: 10px auto;
}

/* Formatting for error message */
.error-message {
    font-weight: 500;
    font-size: small;
    color: rgb(167, 8, 8);
}

.category-dropdown-button, .weekly-calendar-nav {
    height: 30px;
    line-height: 15px;
    margin-top: 15px;
    margin-right: 3px;
    margin-bottom: 15px;
}

#next-week-button:disabled {
    cursor: not-allowed;
}

.category-dropdown-button {
    font-size: 13px;
    margin-right: 10px;
}

.calendar {
    margin-top: 20px;
}

.calendar-first-row, .habit-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    font-weight: 500;
    height: 50px;
}

.habit-grid {
    margin-bottom: 100px;
    height: min-content;
}

.calendar-first-column {
    width: 200px;
}

.day {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.habit {
    width: 200px;
    padding-right: 10px;
}

.habit:hover {
    cursor: pointer;
}

.habit-grid div {
    position: relative;
    margin-top: 12px;
}

.checkbox {
    margin-left: 40%;
    margin-top: 10%;
}

.checkbox-image {
    height: 25px;
}

.checkbox-image:hover {
    cursor: pointer;
}

.delete-button-container {
    width: 80px;
}

.delete-button {
    float: inline-start;
    height: 20px;
    background-color: rgb(218, 211, 211);
    border-radius: 50%;
    margin-right: 5px;
    margin-bottom: 5px;
}

.delete-button:hover {
    cursor: pointer;
}

.no-habits-message {
    display: none;
    text-align: center;
    margin-bottom: 80px;
}

body {
    padding-bottom: 240px;
    position: relative;
    font-family: 'Poppins', sans-serif;
}

.footer {
    font-size: .8em;
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f5f5f5;
    text-align: center;
}

.add-habit-button-container {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
    clear: both;
}

.add-habit-button-container > button {
    display: inline;
    float: right;
    margin-left: 5px;
    margin-right: 5px;
    font-size: small;
    border-radius: 15px;
}

#profile-container {
    visibility: hidden;
    width: 100%;
}

h2 {
    margin-top: 25px;
    margin-bottom: 25px;
}
