/* Formatting for new habit form */
.form-container {
    margin: 20px auto;
}

/* Positioning for h3 tags */
h4 {
    margin: 10px auto;
}

/* Formatting for add button */
#add-button {
    margin: 10px auto;
}

/* Formatting for error message */
.error-message {
    font-weight: 500;
    font-size: small;
    color: rgb(167, 8, 8);
}

.category-dropdown, .weekly-calendar-nav {
    height: 30px;
    line-height: 15px;
    margin-top: 15px;
    margin-right: 3px;
    margin-bottom: 15px;
}

#next-week-button:disabled {
    cursor: not-allowed;
}

.category-dropdown {
    font-size: 13px;
    margin-right: 10px;
}

.calendar {
    margin-top: 20px;
}

.calendar-first-row, .habit-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    font-weight: 500;
    height: 50px;
}

.calendar-first-column {
    width: 200px;
}

.day {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.habit {
    width: 200px;
    padding-right: 10px;
}

.habit:hover {
    cursor: pointer;
}

.habit-grid div {
    position: relative;
    margin-top: 12px;
}

.checkbox {
    margin-left: 40%;
    margin-top: 10%;
}

.checkbox-image {
    height: 25px;
}

.checkbox-image:hover {
    cursor: pointer;
}

.delete-button-container {
    width: 80px;
}

.delete-button {
    float:inline-start;
    height: 20px;
    background-color: rgb(218, 211, 211);
    border-radius: 50%;
    margin-right: 5px;
    margin-bottom: 5px;
}

.delete-button:hover {
    cursor: pointer;
}