{% extends "habitually/layout.html" %}
{% load static %}

{% block body %}
    <div class="container">
        <div class="container" id="profile-container">
            <h2>Your Progress</h2>
            <h4>Overall Habit Completion Rate</h4>
            <div id="overall-completion-rate-chart"></div>
        </div>
        <div class="container" id="weekly-view-container">
            {# Check if user is signed in #}
            {% if user.is_authenticated %}
                <!-- Container for buttons to add and select habits -->
                <div class="add-habit-button-container">
                    <button class="btn btn-dark" id="select-habit-button" onclick="openModal();">SELECT HABITS</button>
                    <button class="btn btn-dark" id="plus-button">ADD HABIT +</button>
                </div>

                <!-- Modal to select habit -->
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Suggested Habits</h5>
                                <button type="button" class="close" aria-label="Close" onclick="closeModal();">
                                <span aria-hidden="true">×</span>
                                </button>
                            </div>

                            <!-- Form for adding suggested habits -->
                            <form action="{% url 'add_suggested_habits' %}" method="POST">
                                {% csrf_token %}
                                <div class="modal-body">
                                    {% if suggested_habits|length > 0 %}
                                        {% for habit in suggested_habits %}
                                            <div class="form-check">
                                                <label>
                                                    <input class="form-check-input" type="checkbox" name="habit" value="{{ habit }}">
                                                    {{ habit }}
                                                </label>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        You've already added all our suggestions! How about adding new habits of your own?
                                    {% endif %}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" onclick="closeModal();">Close</button>
                                    {% if suggested_habits|length > 0 %}
                                        <input type="submit" class="btn btn-dark" value="Add">
                                    {% endif %}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-backdrop fade show" id="backdrop" style="display: none;"></div>

                <!-- Form to add a new habit -->
                <div class="form-container" id="form-container">
                    <h4>Add Habit</h4>
                    <form action="{% url 'add_habit' %}" method="POST">
                        {% csrf_token %}

                        <div class="form-group">
                            <label>What habit do you want to form?</label>

                            <!-- Textarea for habit name input -->
                            <textarea class="form-control" id="new-habit-textarea" name="habit" rows="1" cols="5" maxlength="30" required></textarea>


                            <!-- Error message when user tries to add habit that already exists -->
                            <span class="error-message">{{ message }}</span>
                        </div>

                        <div class="form-group">
                            <label>Category:</label>

                            <!-- Drop-down list for categories -->
                            <select class="form-control" name="category" required>
                                <option value="">--Select a category--</option>

                                {# Display each category as a drop-down option #}
                                {% for category in categories %}
                                    <option value="{{ category }}">{{ category }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <!-- "Add" button -->
                        <input type="submit" class="btn btn-dark" id="add-button" value="Add">
                    </form>
                </div>

                {# Display weekly calendar view if user has added habits #}
                {% if user_habits|length != 0 %}
                    <!-- Dropdown button to filter by category -->
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-dark dropdown-toggle category-dropdown-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Category
                        </button>
                        <div class="dropdown-menu category-dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <a class="dropdown-item category-dropdown-item" href="#" data-category="all">All Categories</a>
                            {% for category in categories %}
                                <a class="dropdown-item category-dropdown-item" href="#" data-category="{{ category }}">{{ category }}</a>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- Buttons to navigate across weeks -->
                    <button type="button" class="btn btn-dark weekly-calendar-nav" id="previous-week-button">&lsaquo;</button>
                    <button type="button" class="btn btn-dark weekly-calendar-nav" id="next-week-button">&rsaquo;</button>

                    <!-- Weekly calendar view -->
                    <div class="calendar">

                        <!-- Display dates on the first row -->
                        <div class="calendar-first-row">
                            <div class="calendar-first-column"></div>
                            {% for key in column_keys %}
                                <div class="day" id="{{ key }}"></div>
                            {% endfor %}
                        </div>

                        <!-- Display habit names and checkboxes -->
                        <div class="habit-grid">
                            {% for habit in user_habits %}
                                <div class="habit {{ habit.category }} habit-{{ habit.id }}" data-doer="{{ user.username }}" data-habit="{{ habit.id }}">{{ habit }}</div>
                                {% for key in column_keys %}
                                    <div class="checkbox {{ habit.category }} habit-{{ habit.id }}">
                                        <img class="checkbox-image habit-{{ habit.id }}" id="checkbox-{{ habit.id }}-{{ key }}" data-doer="{{ user.username }}" data-habit="{{ habit.id }}" data-columnkey="{{ key }}">
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        </div>

                        <!-- Div for message alerting user that there are no habits to display -->
                        <div class="no-habits-message">There are no habits in this category.</div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}