{% extends "habitually/layout.html" %}
{% load static %}

{% block body %}
    <span class="test"></span>
    <div class="container">

        {# Check if user is signed in #}
        {% if user.is_authenticated %}

            <!-- Form to add a new habit -->
            <div class="form-container">
                <h4>Add Habit</h4>
                <form action="{% url 'add_habit' %}" method="POST">
                    {% csrf_token %}

                    <div class="form-group">
                        <label>What habit do you want to form?</label>

                        <!-- Textarea for habit name input -->
                        <textarea class="form-control" id="new-habit-textarea" name="habit" rows="1" maxlength="50" required></textarea>

                        <!-- Error message when user tries to add habit that already exists -->
                        <span class="error-message">{{ message }}</span>
                    </div>

                    <div class="form-group">
                        <label>Category:</label>

                        <!-- Drop-down list for categories -->
                        <select class="form-control" name="category" required>
                            <option value="">--Select a category--</option>

                            {# Display each category as a drop-down option #}
                            {% for category in categories %}
                                <option value="{{ category }}">{{ category }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <!-- "Add" button -->
                    <input type="submit" class="btn btn-dark" id="add-button" value="Add">
                </form>
            </div>

            {# Display weekly calendar view if user has added habits #}
            {% if habits|length != 0 %}
                <!-- Dropdown button to filter by category -->
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-dark dropdown-toggle category-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Category
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <a class="dropdown-item" href="#">Dropdown link</a>
                        <a class="dropdown-item" href="#">Dropdown link</a>
                    </div>
                </div>

                <!-- Buttons to navigate across weeks -->
                <button type="button" class="btn btn-dark weekly-calendar-nav" id="previous-week-button">&lsaquo;</button>
                <button type="button" class="btn btn-dark weekly-calendar-nav" id="next-week-button">&rsaquo;</button>

                <!-- Weekly calendar view -->
                <div class="calendar">

                    <!-- Display dates on the first row -->
                    <div class="calendar-first-row">
                        <div class="calendar-first-column"></div>
                        {% for key in column_keys %}
                            <div class="day" id="{{ key }}"></div>
                        {% endfor %}
                    </div>

                    <!-- Display habit names and checkboxes -->
                    <div class="habit-grid">
                        {% for habit in habits %}
                            <div class="habit {{ habit.category }} habit-{{ habit.id }}" data-doer="{{ user.username }}" data-habit="{{ habit.id }}">{{ habit }}</div>
                            {% for key in column_keys %}
                                <div class="checkbox habit-{{ habit.id }}">
                                    <img class="checkbox-image habit-{{ habit.id }}" id="checkbox-{{ habit.id }}-{{ key }}" data-doer="{{ user.username }}" data-habit="{{ habit.id }}" data-columnkey="{{ key }}">
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}